@tailwind base;
@tailwind components;
@tailwind utilities;

#plan .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #18b5dc !important;
}

.swiper-pagination {
  position: static !important;
}

#about .swiper-pagination-bullet-active {
  background-color: white !important;
}
